.bg-image {
  background-image: url("../img/hero.png");
  background-size: 69%;
  min-height: 846px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 0 0 0 10rem;
}
