ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bg-image {
  background-image: url("../img/hero.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 0 0 0 10rem;
}

.badge-color {
  background-color: #ebebff;
  border: none;
  color: #6070ff;
}

.gap-6 {
  gap: 6rem;
}

.language-icon {
  width: 3em;
  height: 3em;
}

.bg-darkImage {
  background-image: url("../img/heroDark.png");
  background-color: #6070ff;
  background-size: 80%;
  border-radius: 10rem 0 0 0;
}

@media (min-width: 780px) {
  .bg-image {
    min-height: 446px;
  }
}


@media (min-width: 1200px) {
  .bg-image {
    min-height: 646px;
  }
}

@media (min-width: 1600px) {
  .bg-image {
    min-height: 846px;
  }
}
